/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Verdana-Regular';
    src: url('Verdana-Regular.eot');
    src: url('Verdana-Regular.eot?#iefix') format('embedded-opentype'),
         url('Verdana-Regular.woff') format('woff'),
         url('Verdana-Regular.ttf') format('truetype'),
         url('Verdana-Regular.svg#Verdana-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}