@import "_fonts";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header {
  height: 70px;
  width: 100%;
  background-image: url(../images/background_light_opacity.jpg);
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  .nav_content {
    width: 940px;
    margin: 0 auto;
    height: 100%;
    .logo {
      float: left;
      height: inherit;
      a {
        color: #000;
        font-size: 30px;
        line-height: 60px;
        text-decoration: none;
        span {
          color: #53a665;
        }
      }
    }
    nav {
      float: right;
      height: inherit;
      ul {
        height: inherit;
        li {
          float: left;
          display: block;
          height: inherit;
          padding-left: 10px;
          line-height: 67px;
          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            span {
              display: none;
            }
          }
        }
        li.active a, li a:hover{
          color: #53a665;
          position: relative;
          span{
            display: block;
            top: 25px;
            left: 38%;
            height: 6px;
            width: 16px;
            position: absolute;
            background-image: url(../images/selected_link_triangle.jpg);
          }
        }

      }
    }
  }
}
.wrapper {
  font-family: 'Bree Serif', serif;
  width: 100%;
  z-index: 1;
  padding-top: 25px;
  height: 100%;
  .wrapper_main_content {
    background: url(../images/background_mix.jpg);
    height: 385px;
    z-index: 5;
    .main_content {
      width: 940px;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 50px;
      .main_info {
        float: left;
        width: 372px;
        padding-top: 22px;
        position: relative;
       h1 {
          margin-bottom: 3px;
          font-size: 24px;
          color: #5a9e61;
         span {
           background-color: white;
         }
      }
        :first-child{
          margin-bottom: 6px;
        }
        :last-child{
          margin-bottom: 0;
        }
        p {
          font-size: 16px;
          color: #333;
          font-family: 'Open Sans', sans-serif;
          background-color: white;
          margin-top: 15px;
          line-height: 24px;
        }
        p>a {
          color: #53a665;
        }
        .more {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          position: absolute;
          bottom: -10px;
          right: -9px;
          line-height: 16px;
          text-align: center;
          a {
            color: #fff;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
          }
        }
      }
      .video {
        margin-top:  75px;
        width: 462px;
        float: right;
      }
    }
  }
 /* .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }*/
  .basement {
    width: 940px;
    min-height: 100%;
    margin: 50px auto;
    ul {
      height: inherit;
      li {
        display: block;
        float: left;
        width: 32%;
        padding-top: 45px;
        text-align: center;
        margin: 0 6px;
        h1 {
          font-family: 'Bree Serif', serif;
          font-size: 24px;
          color: #333;
          text-transform: uppercase;
          span {
            color: #53a665;
          }
        }
        p {
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #333;
          line-height: 24px;
        }
        .more_for_basement {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          text-align: center;
          margin: 15px auto;
          line-height: 16px;
          a {
            color: #fff;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
      .mark_plans {
        background: url("../images/mark_plans.jpg") no-repeat top center;
      }
      .creat_lab {
        background: url("../images/creat_lab.jpg") no-repeat top center;
      }
      .respon_web {
        background: url("../images/resp_web.jpg") no-repeat top center;
      }
    }
  }
  .basement:after {
    content: "";
    display: table;
    clear: both;
  }
}

.main_wrapper {
  min-height: 100%;
  background-image: url(../images/Background_light.jpg);
}

footer {
  height: 40px;
  width: 100%;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  .copyright {
    float: left;
    p {
      font-family: "Verdana-Regular";
      color: #808080;
      font-size: 10px;
      padding-left: 5px;
    }
  }
  .social_networks {
    float: right;
  }
}