@font-face {
  font-family: "Verdana-Regular";
  src: url("../fonts/Verdana-Regular/Verdana-Regular.ttf") format("truetype"); }
/*********************
VARIABLES
*********************/
/*********************
BREAKPOINTS
*********************/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.center {
  margin-left: auto;
  margin-right: auto; }

header {
  background-image: url(../images/background_light_opacity.jpg);
  text-transform: uppercase;
  font-family: 'Bree Serif', serif; }
  @media (min-width: 940px) {
    header .nav_content {
      width: 940px; } }
  @media (max-width: 940px) {
    header .nav_content {
      width: 100%;
      text-align: center; } }
  @media (min-width: 940px) {
    header .nav_content .logo {
      float: left; } }
  @media (max-width: 940px) {
    header .nav_content .logo {
      float: none; } }
  header .nav_content .logo a {
    color: #000;
    font-size: 30px;
    line-height: 60px;
    text-decoration: none; }
    header .nav_content .logo a span {
      color: #53a665; }
  @media (min-width: 940px) {
    header .nav_content nav {
      float: right; } }
  @media (max-width: 940px) {
    header .nav_content nav {
      float: none; } }
  @media (max-width: 940px) {
    header .nav_content nav ul {
      display: inline-block; } }
  header .nav_content nav ul li {
    float: left;
    display: block;
    height: inherit;
    padding-left: 10px;
    line-height: 67px; }
    header .nav_content nav ul li a {
      text-decoration: none;
      color: #333;
      font-size: 16px; }
      header .nav_content nav ul li a span {
        display: none; }
  header .nav_content nav ul li.active a, header .nav_content nav ul li a:hover {
    color: #53a665;
    position: relative; }
    header .nav_content nav ul li.active a span, header .nav_content nav ul li a:hover span {
      display: block;
      top: 25px;
      left: 38%;
      height: 6px;
      width: 16px;
      position: absolute;
      background-image: url(../images/selected_link_triangle.jpg); }

.wrapper {
  font-family: 'Bree Serif', serif;
  width: 100%;
  z-index: 1;
  padding-top: 25px; }
  .wrapper .wrapper_main_content {
    background: url(../images/background_mix.jpg);
    z-index: 5; }
    .wrapper .wrapper_main_content .main_content {
      height: 100%;
      padding-bottom: 50px; }
      .wrapper .wrapper_main_content .main_content .main_info {
        width: 372px;
        padding-top: 22px;
        position: relative; }
        @media (min-width: 940px) {
          .wrapper .wrapper_main_content .main_content .main_info {
            float: left; } }
        @media (max-width: 940px) {
          .wrapper .wrapper_main_content .main_content .main_info {
            float: none; } }
        .wrapper .wrapper_main_content .main_content .main_info h1 {
          margin-bottom: 3px;
          font-size: 24px;
          color: #5a9e61; }
          .wrapper .wrapper_main_content .main_content .main_info h1 span {
            background-color: white; }
        .wrapper .wrapper_main_content .main_content .main_info :first-child {
          margin-bottom: 6px; }
        .wrapper .wrapper_main_content .main_content .main_info :last-child {
          margin-bottom: 0; }
        .wrapper .wrapper_main_content .main_content .main_info p {
          font-size: 16px;
          color: #333;
          font-family: 'Open Sans', sans-serif;
          background-color: white;
          margin-top: 15px;
          line-height: 24px; }
        .wrapper .wrapper_main_content .main_content .main_info p > a {
          color: #53a665; }
        .wrapper .wrapper_main_content .main_content .main_info .more {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          position: absolute;
          bottom: -10px;
          right: -9px;
          line-height: 16px;
          text-align: center; }
          .wrapper .wrapper_main_content .main_content .main_info .more a {
            color: #fff;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none; }
      .wrapper .wrapper_main_content .main_content .video {
        margin-top: 75px;
        width: 462px; }
        @media (min-width: 940px) {
          .wrapper .wrapper_main_content .main_content .video {
            float: right; } }
        @media (max-width: 940px) {
          .wrapper .wrapper_main_content .main_content .video {
            float: none; } }
  .wrapper .basement {
    width: 940px;
    min-height: 100%;
    margin: 50px auto; }
    .wrapper .basement ul {
      height: inherit; }
      .wrapper .basement ul li {
        display: block;
        float: left;
        width: 32%;
        padding-top: 45px;
        text-align: center;
        margin: 0 6px; }
        .wrapper .basement ul li h1 {
          font-family: 'Bree Serif', serif;
          font-size: 24px;
          color: #333;
          text-transform: uppercase; }
          .wrapper .basement ul li h1 span {
            color: #53a665; }
        .wrapper .basement ul li p {
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #333;
          line-height: 24px; }
        .wrapper .basement ul li .more_for_basement {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          text-align: center;
          margin: 15px auto;
          line-height: 16px; }
          .wrapper .basement ul li .more_for_basement a {
            color: #fff;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif; }
      .wrapper .basement ul .mark_plans {
        background: url("../images/mark_plans.jpg") no-repeat top center; }
      .wrapper .basement ul .creat_lab {
        background: url("../images/creat_lab.jpg") no-repeat top center; }
      .wrapper .basement ul .respon_web {
        background: url("../images/resp_web.jpg") no-repeat top center; }

.main_wrapper {
  min-height: 100%;
  background-image: url(../images/Background_light.jpg);
  position: relative; }

footer {
  height: 45px;
  width: 100%;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0; }
  footer .copyright {
    float: left; }
    footer .copyright p {
      font-family: "Verdana-Regular";
      color: #808080;
      font-size: 10px;
      padding-left: 5px;
      padding-top: 8px; }
  footer .social_networks {
    height: 100%;
    float: right; }
    footer .social_networks ul {
      height: inherit; }
      footer .social_networks ul li {
        float: left;
        display: block;
        padding: 8px 5px; }

/*# sourceMappingURL=style.css.map */
