@import "_fonts";
@import "_bits";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

header {
//  height: 70px;
  background-image: url(../images/background_light_opacity.jpg);
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  .nav_content {

    @include breakpoint(desktop) {
      width: 940px;
    }

    @include breakpoint(tablet) {
      width: 100%;
      text-align: center
    }

    .logo {
      @include breakpoint(desktop) {
        float: left;
      }

      @include breakpoint(tablet) {
        float: none;
      }

      a {
        color: #000;
        font-size: 30px;
        line-height: 60px;
        text-decoration: none;
        span {
          color: #53a665;
        }
      }
    }

    nav {
      @include breakpoint(desktop) {
        float: right;
      }

      @include breakpoint(tablet) {
        float: none;
      }

      ul {
        @include breakpoint(tablet) {
          display: inline-block;
        }

        li {
          float: left;
          display: block;
          height: inherit;
          padding-left: 10px;
          line-height: 67px;
          a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            span {
              display: none;
            }
          }
        }
        li.active a, li a:hover{
          color: #53a665;
          position: relative;
          span{
            display: block;
            top: 25px;
            left: 38%;
            height: 6px;
            width: 16px;
            position: absolute;
            background-image: url(../images/selected_link_triangle.jpg);
          }
        }

      }
    }
  }
}

.wrapper {
  font-family: 'Bree Serif', serif;
  width: 100%;
  z-index: 1;
  padding-top: 25px;

  .wrapper_main_content {
    background: url(../images/background_mix.jpg);
    z-index: 5;
//    @include breakpoint(desktop) {
//      width: 940px;
//    }
//
//    @include breakpoint(tablet) {
//      width: 100%;
//    }
    .main_content {
      height: 100%;
      padding-bottom: 50px;
      .main_info {
        @include breakpoint(desktop) {
          float: left;
        }

        @include breakpoint(tablet) {
          float: none;
        }

        width: 372px;
        padding-top: 22px;
        position: relative;
       h1 {
          margin-bottom: 3px;
          font-size: 24px;
          color: #5a9e61;
         span {
           background-color: white;
         }
      }
        :first-child{
          margin-bottom: 6px;
        }
        :last-child{
          margin-bottom: 0;
        }
        p {
          font-size: 16px;
          color: #333;
          font-family: 'Open Sans', sans-serif;
          background-color: white;
          margin-top: 15px;
          line-height: 24px;
        }
        p>a {
          color: #53a665;
        }
        .more {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          position: absolute;
          bottom: -10px;
          right: -9px;
          line-height: 16px;
          text-align: center;
          a {
            color: #fff;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
          }
        }
      }
      .video {
        margin-top:  75px;
        width: 462px;
        @include breakpoint(desktop) {
          float: right;
        }

        @include breakpoint(tablet) {
          float: none;
        }
      }
    }
  }

  .basement {
    width: 940px;
    min-height: 100%;
    margin: 50px auto;
    ul {
      height: inherit;
      li {
        display: block;
        float: left;
        width: 32%;
        padding-top: 45px;
        text-align: center;
        margin: 0 6px;
        h1 {
          font-family: 'Bree Serif', serif;
          font-size: 24px;
          color: #333;
          text-transform: uppercase;
          span {
            color: #53a665;
          }
        }
        p {
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #333;
          line-height: 24px;
        }
        .more_for_basement {
          width: 57px;
          height: 18px;
          background-color: #53a665;
          text-align: center;
          margin: 15px auto;
          line-height: 16px;
          a {
            color: #fff;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }
      .mark_plans {
        background: url("../images/mark_plans.jpg") no-repeat top center;
      }
      .creat_lab {
        background: url("../images/creat_lab.jpg") no-repeat top center;
      }
      .respon_web {
        background: url("../images/resp_web.jpg") no-repeat top center;
      }
    }
  }
}

.main_wrapper {
  min-height: 100%;
  background-image: url(../images/Background_light.jpg);
  position: relative;
}

footer {
  height: 45px;
  width: 100%;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  .copyright {
    float: left;
    p {
      font-family: "Verdana-Regular";
      color: #808080;
      font-size: 10px;
      padding-left: 5px;
      padding-top: 8px;
    }
  }
  .social_networks {
    height: 100%;
    float: right;
    ul {
      height: inherit;
      li {
        float: left;
        display: block;
        padding: 8px 5px;
      }

    }
  }
}

